* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1f2235;
  font-family: "Noto Sans JP", sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", serif;
  font-weight: bolder;
}

.navbar {
  text-transform: uppercase;
  font-size: 0.88rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  background: rgba(52, 30, 30, 0.6) !important;
  padding: 20px 0;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  padding-left: 20px;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #1ebba3;
}

/* Main div */

.main-container {
  min-height: 100vh;
}
.main_row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_row h1 {
  font-size: 2.5rem;
  font-weight: bolder;
}

.main_row img {
  width: auto;
  height: 100vh;
}

#about {
  background: #313552;
  border-radius: 0.5rem;
}

.card {
  border-bottom: 8px solid #f5ba09;
}
#contact {
  background: #313552;
}
